user=seu_usuario
password=sua_senha
host=seu_host
database=seu_banco

AI_DB_USER=ia_readonly
AI_DB_PASSWORD=sua_senha_readonly
AI_DB_HOST=seu_host_do_banco
AI_DB_NAME=seu_nome_do_banco

AI_LLM_MODEL=gpt-4.1-mini
AI_LLM_API_KEY=sua_chave_do_modelo
AI_DEBUG_SAFE=false
