user=seu_usuario
password=sua_senha
host=seu_host
database=seu_banco

AI_DB_USER=ia_readonly
AI_DB_PASSWORD=sua_senha_readonly
AI_DB_HOST=seu_host_do_banco
AI_DB_NAME=seu_nome_do_banco

EMAIL_ENABLED=true
EMAIL_PROVIDER=smtp
EMAIL_FROM=SIA DATASUS <seu_email>
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USERNAME=seu_email
EMAIL_SMTP_PASSWORD=SENHA_DE_APP_DO_GOOGLE
EMAIL_USE_TLS=true


APP_PUBLIC_BASE_URL=https://eq10.dsc.rodrigor.com

AI_USE_LLM=true
AI_LLM_PROVIDER=openrouter
AI_LLM_MODEL=openrouter/openrouter/auto
AI_LLM_API_KEY=sua_chave
AI_DEBUG_SAFE=true

# Exemplo OpenAI:
# AI_USE_LLM=true
# AI_LLM_PROVIDER=openai
# AI_LLM_MODEL=gpt-4.1-mini
# AI_LLM_API_KEY=sua_chave_openai

# Exemplo Gemini:
# AI_USE_LLM=true
# AI_LLM_PROVIDER=gemini
# AI_LLM_MODEL=gemini/gemini-2.0-flash
# AI_LLM_API_KEY=sua_chave_gemini

# Exemplo OpenRouter:
# AI_USE_LLM=true
# AI_LLM_PROVIDER=openrouter
# AI_LLM_MODEL=openrouter/openrouter/free
# AI_LLM_API_KEY=sua_chave_openrouter
